<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="ru.ir.utils.plugin">
    <Properties>
        <Property name="LOG_DIR">./logs</Property>
    </Properties>
    <Appenders>
        <RollingRandomAccessFile name="main" fileName="${LOG_DIR}/main.log"
                                 filePattern="${LOG_DIR}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
                                 immediateFlush="false"
                                 append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1000 MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <Async name="amain">
            <AppenderRef ref="main"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug" includeLocation="false">
            <AppenderRef ref="amain"/>
        </Root>
    </Loggers>
</Configuration>